section[id="cards-container"] {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0 10px 0;
    scroll-behavior: smooth;
}

.promoCard {
    background-color: rgb(204, 229, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 250px;
    aspect-ratio: 1;

    text-align: center;

    border: 2px solid transparent;
    border-radius: 5px;

    -webkit-tap-highlight-color: transparent;
    user-select: none;

    cursor: pointer;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0, 0.1);
    transition: transform 300ms, box-shadow 500ms;
    transition-timing-function: ease-in-out;
}

.promoCard:hover {
    box-shadow: 0 10px 10px -5px rgb(0, 0, 0, 0.2);
    border-color: transparent;
}

input,
select {
    outline-color: goldenrod;
}

.promoCard>h1 {
    font-size: 1.5;
}

.promoCard>h2 {
    margin-top: 0;
}

.promoCard>p:first-of-type {
    margin-top: 0;
}

.promoCard>p:last-of-type {
    font-size: .9em;
    color: rgb(0, 0, 0, 0.5);
}

.promoCard-selected {
    border-color: goldenrod;
    background-color: white;
    box-shadow: 0 10px 10px -5px rgb(0, 0, 0, 0.1);
    transform: scale(105%);
}

.promoCard-selected:hover {
    border-color: goldenrod;
}

section[id="cards-container"]::-webkit-scrollbar {
    height: 5px;
}

section[id="cards-container"]::-webkit-scrollbar-button {
    width: 5px;
    background-color: var(--color-yellow-primary);
}

section[id="cards-container"]::-webkit-scrollbar-thumb {
    background-color: var(--header-backgroundColor);
}

@media screen and (max-width: 815px) {
    section[id="cards-container"] {
        justify-content: flex-start;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        overflow-x: scroll;
    }
}

@media screen and (max-width: 500px) {
    .promoCard {
        width: 210px;
        height: 210px;
    }
}