#info-tickets {
    text-align: center;
    width: 100%;
}

#info-tickets>h5 {
    font-size: 1.25em;
    font-weight: 400;
    margin: 0;
}

#info-tickets>h1 {
    margin: 5px 0 5px 0;
    font-size: 2.5em;
}

@media screen and (max-width: 900px) {
    #info-tickets>h5 {
        font-size: 1em;
        font-weight: 400;
        margin: 15px 0 0 0;
    }

    #info-tickets>h1 {
        margin: 0 0 20px 0;
        font-size: 1.5em;
    }
}