main {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(20px);
}

.fondo {
    position: absolute;

    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: calc(100vw - 10px);
    height: 100vh;
    overflow: hidden;
}

.box {
    position: absolute;
    top: 0;
    left: -10px;
    height: 250px;
    width: 120vw;
    background-color: rgb(204, 229, 255);
}

@media screen and (max-width: 900px) {
    .fondo {
        width: 100vw;
    }
}